.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  margin: 30px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

button.loginBtn.btn.btn-secondary {
  margin-top: 20px;
  background-color:#77A6F7 ;
}
