.card-deck {
  width: 950px;
  height: 250px;
  margin-top: 2px;
  display:inline-flex;
  flex-direction: row;
  
}
.card-img-top {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.card {
  background: rgb(255, 255, 255);
}

.text-muted {
  text-align: center;
}

.button-info-doc {
  display: flex;
  justify-content: center;
}

