.leftcol {
  width: 110px; 
  vertical-align: top;
 }

.block {
    width: 900px; 
}

.card-meth {
  border: 1px solid #8FC1E3;
  border-radius: 5px;
}

.not-header {
  padding: 10px;
}

ul.list-group{
  margin-top: 0px;
}

li.list-group-item{
  padding: 15px 15px;
  
}

li.list-group-item.list-group-item-primary{
  background-color: #8FC1E3;
  color: #F7F9FB;
  font-size: 18px;
  line-height: 35px;
}

.list-header {
  margin: 0;
}
