.leftcol {
  width: 110px; 
  vertical-align: top;
 }
.block {
    width: 900px; /* Ширина блока */
  
   
}
ul.list-group{
  margin-top: 0px;
 
}
li.list-group-item{
  border-top-width: 5px;
  margin-top: 10px;
  padding: 15px 15px;
}


li.list-group-item.list-group-item-primary{
  background-color: #8FC1E3;
  color: #F7F9FB;
  margin: 10px;  
  font-size: 18px;
  line-height: 35px;
  margin: 5px 5px 5px
}



.list-group-item+.list-group-item {
  border-top-width: 5px
}
li{
  margin-top: 5px;
}
