.nav-bar {
  background: #ffffff;
  box-shadow: 0 0 10px #31708E;
  max-height: 900px; 
  min-width: 500px;
}

.btn-secondary {
  background-color: #31708E;
  border-color: #31708E;
}

a.navbar-brand h3 {
font-size: 45px;
color: #31708E;
margin-left: 15px;
}

.health-helper {
  position: absolute;
  margin-left: 50px;
  color: black;
}

.img-logo {
  max-width: 60px;
  max-height: 60px;
}

