.navBar {
  background: #ffffff;
}

.btn-secondary {
  background-color: #31708E;
  border-color: #31708E;
}

a.navbar-brand h3 {
font-size: 45px;
color: #31708E;
margin-left: 15px;
}

.health-helper {
  position: absolute;
  margin-left: 50px;
  color: black;
}
a.navbar-brand h3:hover {

}

