.patient-avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.patient-info {
  margin-bottom: 50px;
}

.main-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.patient-hello {
  margin-left: 50px;
}

.diseases-section {
  margin-top: 20px;
}

img {
  width: 250px;
  height: 250px;
}

.separator {
  color: 'red';
  background-color: '#31708E';
  height: '2px';
}
